@keyframes show {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hide {
  to {
    transform: translateX(100%);
  }
}

.toast {
  display: flex;
  padding: 0.4em;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  gap: 1rem;
  min-width: 400px;
  animation: show 0.6s ease-out forwards;
  box-shadow: 1px 4px 10px hsl(0deg 5% 80%);
}

.dismiss {
  animation: hide 0.6s ease-out forwards;
}
.icon svg {
  stroke: hsl(0, 70%, 50%); /* example: red */
  stroke-width: 2;
  width: 40px;
}

.toast-success {
  background: hsla(120deg, 50%, 50%, 0.3); /* green */
}

.toast-error {
  background: hsl(0, 70%, 50%, 0.3); /* red */
}

.toast-warning {
  background: hsl(40, 90%, 50%, 0.3); /* yellow */
}

.toast-notice {
  background: hsl(210, 70%, 50%, 0.3); /* blue */
}

.success svg {
  stroke: hsl(120, 70%, 50%); /* green */
}
.error svg {
  stroke: hsl(0, 70%, 50%); /* red */
}
.warning svg {
  stroke: hsl(40, 90%, 50%); /* yellow */
}
.notice svg {
  stroke: hsl(210, 70%, 50%); /* blue */
}
